/*
Fonts:
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;

Color
#043873
#FFFFFF
#FFE492
#4F9CF9
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&family=Montserrat:wght@300;400;700&display=swap');

/*
Basick css
*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
   background-color: #C4DEFD;
   color: #fff;
}